@model IEnumerable<WebsiteBanCaPhe.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
    long RevenueInstant =(long) ViewData["RevenueInstant"];
    long RevenueRoaster =(long) ViewData["RevenueRoaster"];
    long RevenueBean = (long) ViewData["RevenueBean"];
    double InstantRate = (double)ViewData["InstantRate"];
    double RoasterRate = (double)ViewData["RoasterRate"];
    double BeanRate = (double)ViewData["BeanRate"];
    long[] RevenueByMonth = ViewData["RevenueByMonth"] as long[];
    long[] RevenueByMonthInstant = ViewData["RevenueByMonthInstant"] as long[];
    long[] RevenueByMonthRoaster = ViewData["RevenueByMonthRoaster"] as long[];
    long[] RevenueByMonthBean = ViewData["RevenueByMonthBean"] as long[];
    Layout = "_LayoutAdmin";
}

@{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Product', 'Revenue'],
                ['Hoà tan', @RevenueInstant],
                ['Rang xay', @RevenueRoaster],
                ['Hạt', @RevenueBean]
            ]);

            var options = {
                title: 'Doanh thu theo danh mục'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Month', ''],
                @for (int i = 0; i < RevenueByMonth.Length; i++) {
                    <text>['Th@(i+1)', @RevenueByMonth[i]],</text>
                }
            ]);

            var options = {
                title: 'Biểu đồ doanh thu năm @DateTime.Now.Year',
                hAxis: {title: 'Tháng',  titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));

            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Tháng', 'Cà phê hoà tan', 'Cà phê rang xay', 'Cà phê hạt'],
                ['1', @RevenueByMonthInstant[0], @RevenueByMonthRoaster[0], @RevenueByMonthBean[0]],
                ['2', @RevenueByMonthInstant[1], @RevenueByMonthRoaster[1], @RevenueByMonthBean[1]],
                ['3', @RevenueByMonthInstant[2], @RevenueByMonthRoaster[2], @RevenueByMonthBean[2]],
                ['4', @RevenueByMonthInstant[3], @RevenueByMonthRoaster[3], @RevenueByMonthBean[3]],
                ['5', @RevenueByMonthInstant[4], @RevenueByMonthRoaster[4], @RevenueByMonthBean[4]],
                ['6', @RevenueByMonthInstant[5], @RevenueByMonthRoaster[5], @RevenueByMonthBean[5]],
                ['7', @RevenueByMonthInstant[6], @RevenueByMonthRoaster[6], @RevenueByMonthBean[6]],
                ['8', @RevenueByMonthInstant[7], @RevenueByMonthRoaster[7], @RevenueByMonthBean[7]],
                ['9', @RevenueByMonthInstant[8], @RevenueByMonthRoaster[8], @RevenueByMonthBean[8]],
                ['10', @RevenueByMonthInstant[9],@RevenueByMonthRoaster[9], @RevenueByMonthBean[9]],
                ['11', @RevenueByMonthInstant[10], @RevenueByMonthRoaster[10], @RevenueByMonthBean[10]],
                ['12', @RevenueByMonthInstant[11], @RevenueByMonthRoaster[11], @RevenueByMonthBean[11]]
            ]);

            var options = {
                title: 'Biểu đồ doanh thu theo danh mục',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(data, options);
        }
    </script>
}


<div style="margin: 20px; padding: 20px; border: 1px solid #ddd;">
    <h1 style="color: red; font-family: Arial, sans-serif; font-size: 24px;">Doanh thu tháng @DateTime.Now.Month: <script>document.write(formatNumber(@RevenueByMonth[DateTime.Now.Month - 1]));</script> </h1>
    <h1 style="color: red; font-family: Arial, sans-serif; font-size: 24px;">
        Doanh thu năm @DateTime.Now.Year: <script>document.write(formatNumber(@RevenueByMonth.Sum()))</script></h1>
</div>
<div style="display: flex; flex-direction: row; justify-content: space-around; margin: 20px; padding: 20px; border: 1px solid #ddd;">
    <h2 style="color: red; font-family: Arial, sans-serif; font-size: 24px;">
        Cà phê hoà tan:  <script>document.write(formatNumber(@RevenueInstant))</script></h2>
    <h2 style="color: red; font-family: Arial, sans-serif; font-size: 24px;">Cà phê rang xay: <script>document.write(formatNumber(@RevenueRoaster))</script></h2>
    <h2 style="color: red; font-family: Arial, sans-serif; font-size: 24px;">Cà phê hạt: <script>document.write(formatNumber(@RevenueBean))</script></h2>
</div>



<div class="row">
    <div id="curve_chart" class="col-md-8" style="height: 500px"></div>
    <div class="col-md-4" id="piechart" style="height: 500px;"></div>
</div>

<div id="columnchart" style="height: 500px;"></div>
