@model IEnumerable<WebsiteBanCaPhe.Models.CartDetail>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Tổng giá tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<button>
    <a href="/UserOrders/Create"> Đặt hàng </a>
</button>
