@model IEnumerable<WebsiteBanCaPhe.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Nguồn gốc
            </th>
            <th>
                Thương hiệu
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Số lượng tồn kho
            </th>
            <th>
                Danh mục
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                <img style="height:90px" src=@item.PhotoURL alt="" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
