@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<WebsiteBanCaPhe.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<p style="margin-bottom: 15px;">
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>

<table class="table responstable">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Nguồn gốc
            </th>
            <th>
                Thương hiệu
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Số lượng tồn kho
            </th>
            <th>
                Danh mục
            </th>
            <th style="width: 100px;">
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                <img style="height:90px" src=@item.PhotoURL alt="" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary btn-sm" style="margin-right: 2px; margin-bottom: 3px">Sửa</a>
                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info btn-sm">Chi tiết</a> 
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new{page}))