@model WebsiteBanCaPhe.Models.UserOrder

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
