@model IEnumerable<WebsiteBanCaPhe.Models.UserOrder>

@{
    ViewData["Title"] = "Index";
}

<h2>Đơn hàng của bạn</h2>
<table class="table responstable">
    <thead>
        <tr>
            <th>
                Ngày đặt 
            </th>
            <th>
                Người nhận
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Trạng thái đơn hàng
            </th>
            <th>
                Trạng thái thanh toán
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalValue)
                </td>
                <td>
                    @if (item.IsDone == false)
                    {
                        @:Chưa nhận hàng
                    }
                    else
                    {
                        @:Đã nhận hàng
                    }
                </td>
                <td>
                    @if (item.IsPaid == false)
                    {
                        @:Chưa thanh toán
                    }
                    else
                    {
                        @:Đã thanh toán
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Cập nhật</a>
                    <br/>
                    <a asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
