@model IEnumerable<WebsiteBanCaPhe.Models.UserOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<table class="table responstable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <form asp-action="Index" method="post">
                <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ReceiverName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ShippingFee)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TotalValue)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.IsDone)
                </td>
                <td>
                    <div class="form-group" style="margin:0px">
                        <input type="hidden" asp-for="@item.OrderId" name="id" class="form-control" />
                        <span asp-validation-for="@item.OrderId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            <input asp-for="@item.IsPaid" name="IsPaid" type="checkbox" />
                        </label>
                    </div>
                </td>
                
                <td>
                        @Html.DisplayFor(modelItem => item.Account.FullName)
                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </td>

                </form>
            </tr>

        }
    </tbody>
</table>
